In [1]:
import pandas as pd
df18 = pd.read_csv(r"C:\Projects\MidMITS\NTEM\SHP\land_use_2018_pop.csv")
df21 = pd.read_csv(r"C:\Projects\MidMITS\NTEM\SHP\pop\landuse_2021_pop.csv")

In [13]:
df18.set_index('msoa_zone_id',inplace=True)

In [14]:
df18.loc['E02000001']

              area_type  tfn_traveller_type     people
msoa_zone_id
E02000001             1                   1  85.986429
E02000001             1                   2  72.759692
E02000001             1                   3  75.934777
E02000001             1                   4  41.575759
E02000001             1                   5   2.617758
...                 ...                 ...        ...
E02000001             1                 756   3.332670
E02000001             1                 757   2.821244
E02000001             1                 758   2.944930
E02000001             1                 759   1.612373
E02000001             1                 760   0.101564

[690 rows x 3 columns]

In [17]:
len(df21[df21['2021'].isnull()]['msoa_zone_id'].unique())

599

In [34]:
testpop = pd.read_csv(r"C:\Projects\MidMITS\NTEM\testing\with_negpop.csv")
testpop2 = pd.read_csv(r"C:\Projects\MidMITS\NTEM\testing\with_neg_2pop.csv")
testpop3 = pd.read_csv(r"C:\Projects\MidMITS\NTEM\testing\with_neg_3pop.csv")

In [33]:
testpop[testpop['prop'].isnull()]

,msoa_zone_id,NTEM_traveller_type,tfn_traveller_type,area_type,2018,2018_grouped,prop,diff
160,E02000001,S017,161,1,0.0,0.0,NaN,-6.137924
161,E02000001,S017,162,1,0.0,0.0,NaN,-6.137924
162,E02000001,S017,163,1,0.0,0.0,NaN,-6.137924
163,E02000001,S017,164,1,0.0,0.0,NaN,-6.137924
164,E02000001,S017,165,1,0.0,0.0,NaN,-6.137924
...,...,...,...,...,...,...,...,...
6276345,W02000347,S071,671,7,0.0,0.0,NaN,-3.553109
6276346,W02000347,S071,672,7,0.0,0.0,NaN,-3.553109
6276347,W02000347,S071,673,7,0.0,0.0,NaN,-3.553109
6276348,W02000347,S071,674,7,0.0,0.0,NaN,-3.553109
6276349,W02000347,S071,675,7,0.0,0.0,NaN,-3.553109

In [36]:
df21 = pd.read_csv(r"C:\Projects\MidMITS\NTEM\SHP\pop\landuse_2021_pop_test.csv")
df18 = pd.read_csv(r"C:\Projects\MidMITS\NTEM\SHP\land_use_2018_pop.csv")

In [37]:
df21.columns = df18.columns

In [41]:
pop = pd.read_csv(r"C:\Projects\MidMITS\NTEM\SHP\pop\landuse_2021_pop.csv")
emp = pd.read_csv(r"C:\Projects\MidMITS\NTEM\SHP\emp\landuse_2021_emp.csv")

In [40]:
df21.set_index('msoa_zone_id').to_csv(r"C:\Projects\MidMITS\NTEM\SHP\pop\landuse_2021_pop.csv")

In [44]:
pop.head()

  msoa_zone_id  area_type  tfn_traveller_type     people
0    E02000001          1                   1  87.224811
1    E02000001          1                   2  73.807582
2    E02000001          1                   3  77.028395
3    E02000001          1                   4  42.174535
4    E02000001          1                   5   2.655460